[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.12"
flake8 = "*"
pillow = "*"
gunicorn = "*"
djangorestframework = "*"
psycopg2-binary = "==2.9.3"
gevent = "*"
celery = "==5.1.2"
redis = "*"
tqdm = "==4.64.0"
web3 = "==5.29.0"

[dev-packages]

[requires]
python_version = "3.9"
